body
{
  background-color:#F0F0F0;
  font-family:Arial,Helvetica,sans-serif; 
  font-size:75%;
}
  
div#header
{ width:1335px; color:#fff; padding: 7px 0 3px 15px; text-align: left; margin-left:auto margin-right:auto; height:17px; }

nav {
width: 95%;
padding: 0 2.5%;
float: left
}
ul.hnavbar{
	list-style:none;
                font-size: 16px;
	padding-bottom: 1%;
                /* Clear floats */
	float:left;
	
	position:relative;
	z-index:5;
        
}


ul.hnavbar li{
	float:left;
	margin-right:10px;
	position:relative;
}
ul.hnavbar a{
	display:block;
	padding: 5px;
	color:#FFFFFF;
	background:#6A0888;
	text-decoration:none;
text-shadow: 1px 1px 0px #000000;
box-shadow: 2px 2px 0px #000000;
-webkit-box-shadow: 2px 2px 0px #000000
}

ul.hnavbar a:hover{
	color:#FFD8C6;
	background:#A0522D;
	text-decoration:none;
}

.login { 
height:250px;
width:500px;
margin:auto;
border:5px #CCC solid;
padding:10px;
background-color:#E9E9E9 }

input,select { 
	background: #E1FFE1;
	border:1px #CCC solid;
	padding:5px;
 }

input#button
{
  border-radius:5px;
	
  border:1px solid #337bc4;
	
  display:inline-block;
	
  cursor:pointer;
	
  color:#424242;
	
  font-family:verdana;
		
  font-size:17px;
	
  font-weight:bold;
	
  padding:7px 44px;
	
  text-decoration:none;
	
  text-shadow:0px 1px 0px #528ecc;

  background-color:#D8D8D8;

}

div#content{
HEIGHT:200PX;
WIDTH:500PX;
MARGIN:AUTO;
BORDER:5PX #ccc SOLID;
PADDING:40PX;
BACKGROUND:#E9E9E9;
MARGIN-TOP: 30PX;
}

input#text
{ 
	background: #E1FFE1;
	border:1px #CCC solid;
	padding:10px;
 } 