﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="Tender.office.Login" %>

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     

        <link href="../Content/style.css" rel="stylesheet" />
</head>


<body style="background-position:center; color:#666;  font-family:Arial,Helvetica,sans-serif; font-size:75%;
margin:auto; padding:0;">	

<table border="0" width="100%" cellpadding="0" cellspacing="0"   background="background_gradient.gif" style="margin-top:0px;"><tr>			
<td  valign="middle" width="30%" align="center">
<IMG src="../Images/part1.gif"></td>
<td  valign="middle" width="50%" align="left">
<img src="../Images/part2.gif" width="75%"></td>
</tr>
</table>
</BODY></HTML>

<html>
    <body topmargin="0" bottommargin="0">
<table style="background-color:#4C0B5F; height:27px; width:1355px;" border="0">
<tr><td/><tr></table>
<DIV id="header" align="center"  style="margin-top:2px; margin-bottom:0px; background-color:#BDAEC6;" > <marquee onmouseover="this.stop();" onmouseout="this.start();" scrollamount="4">
<font color="#000000"><b>Mission&nbsp;:</b>&nbsp;&nbsp;''To achieve highest standards of safety and quality in air traffic services and airport management by providing state-of-the-art infrastructure for total customer satisfaction, contributing to economic growth and prosperity of the nation.''</font>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000"><b>Vision&nbsp;:</b>&nbsp;&nbsp;''To be a world-class organization providing leadership in air traffic services and airport management & making India a major hub in Asia Pacific region by 2016''.
</font>
</marquee>
</div>
<nav>

<ul class="hnavbar">
        
<li><a href="main.jsp">Home</a></li>
         

          
      
</ul>
</nav>
<br><br><br><br>
<div class="login">
<center>
<font face="sans-serif" size="5" color="#151515">
LOGIN</font><br><br>
<font face="verdana" size="4" color="#084B8A">
<br>
<form action="myform.jsp">
USERNAME:&nbsp;&nbsp<input type="text" placeholder="Username" required><br><br> 
PASSWORD:&nbsp;&nbsp<input type="password" placeholder="Password" required><br><br>
LOGIN AS:&nbsp;&nbsp<select>
<option>Choose option</option>
<option value="admin">ADMIN</option>
<option value="user">USER</option></select><br><br>
<input type="submit" value="SIGN IN">
</center>
</div>
</body>
</html>
      


