<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Profile.aspx.cs" Inherits="Tender.account.Profile" %>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href="../Content/themes/aai_istyles.css" rel="stylesheet" type="text/css" />
        <title>Airports Authority of India</title>
    </head><body text="#000000" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="background-position:center;
         color:#666;
       font-family:Arial,Helvetica,sans-serif;
       font-size:75%;
       margin:5;
      padding:0;
     " bottommargin="0">

        <form id="form1" runat="server">

<table height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tbody><tr>
	<td width="50%" height="100%" align="right" valign="top">
			<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
				<tbody><tr>
					<td width="100%" height="100%" align="left" valign="top" bgcolor="#9C8AA5">
					</td>
				<td width="9" height="100%" align="left" valign="bottom" bgcolor="#9C8AA5"></td>
    			</tr>
			</tbody></table>
<!--comedirt-->	  </td>
	 <td width="1200px" height="100%" align="left" valign="top">
			<table width="759" height="100%" cellspacing="0" cellpadding="0">
				<tbody><tr>
    				<td width="100%" height="8%" align="left" valign="top">
						




<title>Airports Authority of India</title>


<style>
form{margin:0;padding:0;}
input,select,textarea{font-family:Arial,Helvetica,sans-serif;font-size:10px;margin:0;padding:0;}
a{color:#543;text-decoration:none;}
a:hover{color: #0033FF;text-decoration: underline;}
a:active{color:#C33;text-decoration:none;}
div#headerContainer1{height:101px;margin-left:auto;margin-right:auto;width:980px;position:relative;}
div#header{
background-image:url(background_gradient.gif);
background-repeat:repeat-x;border-left:1px solid #A8A8A8;border-right:1px solid #A8A8A8;font-size:.95em;overflow:hidden;text-align:left;}
div#headerSupportNav1 ul,div#headerSupportNav1 li,div#headerRight ul,div#headerRight li{margin:0;padding:0;}
div#headerSupportNav1 ul li,div#headerRight ul li{float:left;list-style-type:none;padding:0 10px 0 0;}div#headerSupportNav1 li.sep{padding:2px 15px 0 5px;}
</style>



         
        <div id="headerContainer1">
		
		<table border="0" width="100%" cellpadding="0" cellspacing="0" background="../Images/background_gradient.gif" style="margin-top:0px;"><tbody><tr>							
<td valign="middle" width="30%" align="left"><a href="http://www.aai.aero/public_notices/aaisite_test/main_new.jsp"></a><a>
        <img src="../Images/part1.gif" /></a></td>
<td valign="middle" width="40%" align="center" style="margin-left:10px;"><a href="http://www.aai.aero/public_notices/aaisite_test/main_new.jsp"></a><img src="../Images/part2.gif" /></td>
<td valign="top" width="30%" align="right"><a href="http://www.aai.aero/hindi/hindimain.jsp">
            <img src="../Images/part3.gif" /></a></td></tr>


</tbody></table>
 					



</div></td>

<!-- <div style="margin-top:-10px">-->

</tr><tr><td>







<meta name="Generator" content="Generated by 211 @ 20-04-2010 08:34:52">

<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">


<link rel="shortcut icon" href="http://www.aai.aero/public_notices/aaisite_test/favicon.ico">
    
    	
	<meta name="Title" content="Airports Authority of India">

    <link href="../Content/themes/jqueryslidemenu.css" rel="stylesheet" type="text/css"/>
    
	<style>
	div#standardAnnouncement,div#urgentAnnouncement1{width:965px;background:url(brown_standard_annc.gif) repeat-x;color:#FFF;padding:7px 0 3px 15px;text-align:left;margin-left:auto;margin-right:auto;height:20px;}

div#urgentAnnouncement1{background:url(wwww.gif) repeat-x;}

div#standardAnnouncement a,div#urgentAnnouncement1 a{background:url(icon_home_brown_learn.gif) no-repeat right;padding-right:29px;color:#DDD;}

div#urgentAnnouncement1 a{background:url(icon_home_red_learn.gif) no-repeat right;}

div#standardAnnouncement a:hover,div#urgentAnnouncement1 a:hover{color:#FFF;}


a{color:#543;text-decoration:none;}

a:hover{color: #0033FF;text-decoration: underline;}

a:active{color:#C33;text-decoration:none;}

a.bold{font-weight:bold;}

div.contentContainer a,div.contentLeftWide a{text-decoration:underline;}

a.bodyLink{color:#543;text-decoration:underline;}

a.bodyLink:hover{color:#c33;text-decoration:none;}

a.selected{color:#C33;text-decoration:none;}

ul{
list-style:none;

}
</style>

<link href="../Content/themes/country_selector.css" rel="stylesheet" />
<link href="../Content/themes/icons.css" rel="stylesheet" />
<link href="../Content/themes/components.css" rel="stylesheet" />




&nbsp;<table align="center" width="870px" cellpadding="0" cellspacing="0" background="../Images/red_urgent_announce.gif" style="background-repeat:repeat-x;">
<tbody><tr>
<td>
                 <div align="center">   
                   <div id="myslidemenu" class="jqueryslidemenu" style="margin-top:0px; margin-bottom:0px;margin-left:0px; list-style-type: none;" width="1000px;">
<ul>
<li><a href="http://www.aai.aero/misc/Aerodrome_Database.jsp#" style="padding-right: 20px;">&nbsp;About AAI</a></li>

<li><a href="http://www.aai.aero/public_notices/aaisite_test/CSR.jsp" alt="Corporate Social Responsibility" title="Corporate Social Responsibility">&nbsp;CSR Initiatives</a></li>

<li><a href="http://www.aai.aero/misc/Aerodrome_Database.jsp#" style="padding-right: 20px;">&nbsp;Passengers</a>
 
</li>
<li><a href="http://www.aai.aero/misc/Aerodrome_Database.jsp#" style="padding-right: 20px;">&nbsp;Public information</a>
</li>

<li><a href="http://203.145.141.172/kalyanmayee/public/index.php" target="_blank">&nbsp;Kalyanmayee
&nbsp;</a>




</li><li><a href="http://www.aai.aero/misc/Aerodrome_Database.jsp#" style="padding-right: 20px;">&nbsp;Financial</a>
  
</li>

<li><a href="http://www.aai.aero/misc/Aerodrome_Database.jsp#" style="padding-right: 20px;">&nbsp;AAI Employees</a>


</li>

<li><a href="http://www.aai.aero/misc/Aerodrome_Database.jsp#" style="padding-right: 20px;">&nbsp;AAI News</a>

</li>

<li><a href="http://www.aai.aero/allAirports/airports.jsp">&nbsp;All Airports
&nbsp;</a>

</li><li><a href="http://www.aai.aero/misc/Aerodrome_Database.jsp#" style="padding-right: 20px;">&nbsp;Others&nbsp;</a>

   
</li>
</ul> 
<br style="clear: left">
</div>
</div>
</td>

</tr>

<tr>
<td>

<div id="urgentAnnouncement1" align="center" style="margin-top:2px; margin-bottom:0px; background-color:#BDAEC6;"><marquee onmouseover="this.stop();" onmouseout="this.start();" scrollamount="4"><a href="http://www.aai.aero/AAI/missionvisionnew.swf" target="_blank"><font color="#000000"><b>Mission&nbsp;:</b>&nbsp;&nbsp;''To achieve highest standards of safety and quality in air traffic services and airport management by providing state-of-the-art infrastructure for total customer satisfaction, contributing to economic growth and prosperity of the nation.''</font></a>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://www.aai.aero/AAI/missionvisionnew.swf" target="_blank"><font color="#000000"><b>Vision&nbsp;:</b>&nbsp;&nbsp;''To be a world-class organization providing leadership in air traffic services and airport management &amp; making India a major hub in Asia Pacific region by 2016''.
</font></a><font color="#000000">
</font></marquee>
</div>
</td>
</tr></tbody></table>		
         






<!--</div>-->
						
					</td>
    			</tr>
				
				<tr>
				<td height="100%" width="100%" bgcolor="#FFFFFF" align="center">
        			<table height="100%" border="0" width="100%" cellspacing="0" cellpadding="0" bordercolor="red" align="center">
				<tbody>
						<tr>
          				  <td valign="top">
						 
							






<!-- <HTML xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"> -->



<meta name="Generator" content="Generated by 211 @ 20-04-2010 08:34:52">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">

<link href="../Content/themes/main.css" rel="stylesheet" />

<style>
.style1 {font-size: 11px}

background-image:url(footer_background.gif);
background-repeat:repeat-x;overflow: hidden;height:55px;}

div#footerNav{float:left;font-size:.95em;margin:15px 0 0 0;padding-left:18px;}

div#footerCopyright
{float:right;
font-size:.85em;
margin:15px 0 0 0;
padding-right:15px;
text-align:right;
}
div#footerNav ul,div#footerNav li,div#footerCopyright ul,div#footerCopyright li
{margin:0;
padding:0;}

div#footerNav ul li
{float:left;list-style-type:none;padding:2px 15px 0 0;}

div#footerCopyright ul li
{float:none;list-style-type:none;padding:2px 0 0 10px;}



a{color:#543;text-decoration:none;}

a:hover{color:#0033FF;text-decoration: underline;}

a:active{color:#C33;text-decoration:none;}

a.bold{font-weight:bold;}

div.contentContainer a,div.contentLeftWide a{text-decoration:underline;}

a.bodyLink{color:#543;text-decoration:underline;}

a.bodyLink:hover{color:#c33;text-decoration:none;}

a.selected{color:#C33;text-decoration:none;}

a.whiteLink{color:#FFF;text-decoration:none!important;}

a.whiteLink:hover{color:#DDD;text-decoration:none;}

a.block{display:block;}
    .auto-style1 {
        width: 183px;
        height: 236px;
    }
    .auto-style2 {
        width: 480px;
        height: 236px;
    }
    .auto-style3 {
        width: 183px;
        height: 24px;
    }
    .auto-style4 {
        width: 480px;
        height: 24px;
    }
    .auto-style5 {
        height: 24px;
    }
    .auto-style6 {
        width: 183px;
        height: 77px;
    }
    .auto-style7 {
        width: 480px;
        height: 77px;
    }
    .auto-style8 {
        height: 77px;
    }
    .auto-style9 {
        height: 236px;
    }
    </style>
                                




       
        <table style="width: 100%; height: 157px;">
            <tr>
                <td class="auto-style3"></td>
                <td class="auto-style4">
                    <asp:FileUpload ID="FileUpload1" runat="server" Width="207px" />
                    <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" Width="78px" />
                </td>
                <td class="auto-style5"></td>
            </tr>
            <tr>
                <td class="auto-style6"></td>
                <td class="auto-style7"></td>
                <td class="auto-style8"></td>
            </tr>
            <tr>
                <td class="auto-style1"></td>
                <td class="auto-style2"></td>
                <td class="auto-style9"></td>
            </tr>
        </table>


         </form>

</body></html>