UNKNOWN {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.a_heading {
	TEXT-TRANSFORM: none; COLOR: #e1e1e1; HEIGHT:27px; BACKGROUND-COLOR: #39284a; font-family:"Arial Rounded MT Bold"; font-size:17px; text-transform:uppercase; text-indent:18px
}
.a_sub_heading {
	BORDER-RIGHT: #cccccc thin; BORDER-TOP: #cccccc thin; font-family:"Arial Rounded MT Bold"; font-size:15px; text-transform:none; BORDER-LEFT: #cccccc thin; COLOR: #000000; BORDER-BOTTOM: #cccccc thin; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BACKGROUND-COLOR: #d6c7de; text-indent:18px; vertical-align:middle;
}
.body {
	FONT-WEIGHT: normal; FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}

TABLE {
	FONT-SIZE: 13px; TEXT-TRANSFORM: none; COLOR: #18025b; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: justify; TEXT-DECORATION: none;
    }
.header_links {
	FONT-WEIGHT: bold; COLOR: #116699; TEXT-DECORATION: underline
}
.bigbluelabel {
	FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #222222; TEXT-DECORATION: none
}
.label {
	FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #222222; TEXT-DECORATION: none
}
.message {
	FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #198cb8; TEXT-DECORATION: none
}
.bluelabel {
	FONT: bold 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #115f7b; TEXT-DECORATION: none
}
.underline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 2px; BACKGROUND-COLOR: #39284a
}
INPUT {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
TEXTAREA {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; FONT-VARIANT: normal
}
.select {
	BORDER-RIGHT: #198cb8 1px ridge; BORDER-TOP: #198cb8 1px ridge; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #198cb8 1px ridge; COLOR: #000000; BORDER-BOTTOM: #198cb8 1px ridge; FONT-STYLE: normal; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
BUTTON {
	BORDER-RIGHT: #198cb8 1px solid; BORDER-TOP: #198cb8 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/buttonbg.jpg); BORDER-LEFT: #198cb8 1px solid; COLOR: #000000; BORDER-BOTTOM: #198cb8 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d2eef9
}
.button1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(buttonbg.jpg); COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.button {
	BORDER-RIGHT: #198cb8 1px solid; BORDER-TOP: #198cb8 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/buttonbg.jpg); BORDER-LEFT: #198cb8 1px solid; COLOR: #000000; BORDER-BOTTOM: #198cb8 1px solid; FONT-FAMILY: Arial, Helvetica,sans-serif; BACKGROUND-COLOR: #d2eef9
}

OL {
	LIST-STYLE-POSITION: outside; FONT-SIZE: 12px; LIST-STYLE-IMAGE: url(http://www.aai.aero/public_notices/aaisite_test/images/dot.gif); COLOR: #18025b; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; line-height:20px;

}
BODY {
	MARGIN: 0px
}
.txt {
	FONT-SIZE: 12px; COLOR: #18025b; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 13px; TEXT-TRANSFORM: none; COLOR: #18025b; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.para {
	FONT-SIZE: 13px; TEXT-TRANSFORM: none; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
